


<div class = "text-center">

<h1>Home#show</h1>
<p>Find me in app/views/home/show.html.erb</p>

<% if @crypto && @crypto.name && @crypto.value %>
        name:<%= @crypto.name %>
        value: <%= @crypto.value %>
        <% else %>
        demande en une autre thx
       <%end%>
       </div>