


<div class = "text-center">
<div id = "q">
        <% if @crypto && @crypto.name && @crypto.value %>
                La valeur d'un <%= @crypto.name %> est : <%= @crypto.value %>
        <% else %>
                demande en une autre thxdemande une Crypto qui existe stp
        <%end%><br><br><br>
        <a href = "<%=home_index_path%>">
        clique ici pour faire une nouvelle recherche
        </a>
</div>
</div>